<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.osu.cse.nearjoin" >

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="edu.osu.cse.nearjoin.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.osu.cse.nearjoin.AccountActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.osu.cse.nearjoin.EventDescriptionActivity"
            android:label="@string/title_activity_my" >
        </activity>
        <activity
            android:name="edu.osu.cse.nearjoin.CategoriesActivity"
            android:label="@string/title_activity_category_screen" >
        </activity>
        <activity
            android:name="edu.osu.cse.nearjoin.NewEventActivity"
            android:label="@string/title_activity_new_event" >
        </activity>
        <activity
            android:name="edu.osu.cse.nearjoin.PostEventActivity"
            android:label="@string/title_post_event_activity" >
        </activity>
        <activity
            android:name="edu.osu.cse.nearjoin.EventListingActivity"
            android:label="@string/title_activity_event_listing" >
        </activity>

        <activity
            android:name="edu.osu.cse.nearjoin.MainActivity"
            android:label="@string/title_activity_event_listing" >
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="edu.osu.cse.nearjoin" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
    </application>

</manifest>
